/.ipynb_checkpoints/Python basics-checkpoint.ipynb
/big_data_infrastructure.pdf
/data_science_with_python.pdf
/data_science_with_python_teaching_plan.pdf
/deep_learning.pdf
/deep_learning_teaching_plan.pdf
/python_language.pdf
/#model_comparison.py#
/when_to_use_models.pdf
